<!doctype html>
<html>
<head>
  <title>Collatz Judge</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/codemirror.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/codemirror.js') }}"></script>
  <script src="{{ url_for('static', filename='js/python.js') }}"></script>
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
